@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #050507;
    font-family: 'Arial', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    text-align: center;
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p{
    font-size: 14px;
}

/* メインビジュアル */
.mainvisual{
    margin: 0 0 80px;
}
.mainvisual .mainvisual-img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.mainvisual h1{
    position: absolute;
    top: 15px;
    right: 30px;
}
/* 共通 */
section{
    padding-bottom: 125px;
}
.inner{
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: border-box;   /* デフォルトはcontent-box */
}
/* magazine */
#magazine .section-title{
    margin-bottom: 20px;
}
#magazine .inner p{
    margin-bottom: 40px;
}
#magazine .section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
}
#magazine .section-content a{
    position: relative;
}
#magazine .content-title{
    color: #fff;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:15px auto;
    width: 290px;
    white-space: nowrap
}
#magazine .content-title h3{
    margin-bottom: 3px;
}
#magazine .content-title p{
    margin-top: 0;
}
/* fashion */
#fashion {
    position: relative;
}
#fashion img{
    height: 520px;
    object-fit: cover;
}
#fashion .section-content{
    position: absolute;
    top: 18%;
    left: 50%;
    -ms-transform: translate(-18%,-50%);
    -webkit-transform: translate(-18%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    width: 100%;
}
#fashion .section-content p{
    padding: 0 25px;
}
#fashion .section-title{
    margin: 0 0 20px;
}
#fashion .link-btn{
    display: inline-block;
    flex-wrap: wrap;
    border: solid 1px #000;
    padding: 15px 40px;
    font-size: 12px;
    margin-top: 20px;
}
/* Catalog / Antique */
#antique .section-content,
#catalog .section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px; 
}
#antique .section-title,
#catalog .section-title {
    margin: 12px auto 40px;
}
#antique .section-text p,
#catalog .section-text p{
    text-align: left;
}
#antique .section-text p:last-child{
margin-bottom: 60px;
}
#antique .section-content{
    direction: rtl;
}
#antique .link-btn{
    display: inline-block;
    flex-wrap: wrap;
    border: solid 1px #000;
    padding: 15px 40px;
    font-size: 12px;
    margin-top: 60px;
}
/* フッター */
#footer{
    background-color: #333333;
}
.footer-content{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 0;
}
.content-item  {
    text-align: left;
}
.content-item:first-child{
    align-self: center;
    width: 150px;
}
.content-item img{
    height: fit-content;
}
.content-item-title{
    margin-top: 0;
}
.content-item li,
.content-item p{
    font-size: 12px;
}

.copyright{
    background-color: #fff;
    padding: 30px 0;
    margin: 0;
}

/* レスポンシブ */
@media screen and (max-width: 896px) {
    #antique .section-title,
    #catalog .section-title {
        margin-top: 60px;
    }
    #magazine .section-content{
        grid-template-columns: 1fr;
    }
    #antique .section-content,
    #catalog .section-content{
        grid-template-columns: 1fr;
    }
    #antique .section-content{
        direction: none;
    }
    .footer-content{
        grid-template-columns: 1fr;
        padding: 0;
        line-height: 25px;
    }
    .content-item{
        text-align: left;
        padding-bottom: 30px;
    }
    .content-item:first-child{
        text-align: center;
        margin: 30px auto 0;
    }
}