@charset "UTF-8";
:root{
    --basecolor : #3F4042;
    --bgccolor : #F4F9FF;
    --bgccolor2 : #FFFFFF;
    --titlecolor : #142629;
    --textcolor : #576C7F;
    --bordercolor : #E4E9ED;
}
html {
    font-size: 100%;
}
body {
    color: var(--basecolor);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-color: var(--bgccolor);
    margin: 0%;
}
a {
    color: var(--basecolor);
}
img {
    max-width: 100%;
    vertical-align: middle; /* 画像の下にできる隙間をなくす */
}
ol{
    margin: 0;
}
.wrapper{
    width: 1000px;
    margin: 50px auto 0;
    justify-content: center;
}
section{
    margin-bottom: 70px;
}
.section-block{
    width: 600px;
    margin:  50px auto;
}

/* ヘッダー */
.header img{
    width: 150px;
    margin-bottom: 20px;
}

/* INDEX */
#index{
    background-color: var(--bgccolor2);
}
#index .section-block{
    padding-top: 10px ;
    padding-bottom: 20px;
    justify-items: left;
}
#index .section-title{
    margin-bottom: 5px;
}
#index .index-list{
    justify-content: left;
    padding-left: 0;
    list-style-position: inside;  /* 箇条書きのテキストの開始位置 */
    margin-left: 0.3em;
}   
#index .index-list li{
    padding-bottom: 10px;
}

/* DETAIL */
#detail .detail-block{
    display: flex;
    justify-content: space-between;
}
#detail .detail-block figure{
    margin: auto 0;
    flex-shrink: 0;  /* 画像が小さくなるのを防ぐ */
}
#detail .detail-block img{
    width: 270px;
}
#detail .block-content{
    width: 270px;
}
#detail .detail-title{
    margin: 0 auto 10px;
    padding-bottom: 20px;
    border-bottom: solid 1.5px var(--bordercolor);
}
#detail .detail-list tr{
    line-height: 1.2;
}
#detail .detail-list td:first-child{
    padding-right: 20px;
}
#detail .detail-list .conten-text{
    border-top: solid 1.5px var(--bordercolor);
    margin: 10px auto 15px;
    padding-top: 20px;
}

/* フッター */
footer{
    width: 600px;
    margin:  100px auto 0;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        margin: 100px 0 0 0;
    }
    .section-block{
        width: 75%;
    }
    .header img{
        width: 50%;
        margin-left: 2%;
    }
    #mainvisual img{
        display: block;
        width: 96%;
        margin: 0 auto;
    }

    /* INDEX */
    #index .index-list{
        margin-left: 1.2em;
        text-indent: -1.2em;
    }

    /* DETAIL */
    #detail .detail-block{
        flex-direction:column;
        width: 100%;
        justify-content: center;
        margin: auto 0;
    }
    #detail .detail-block img{
        width: 100%;
        margin-bottom: 30px;
    }
    #detail .detail-list td:first-child{
        padding-right: 10vw;
    }
    #detail .block-content{
        width: 100%;
    }
    /* フッター */
    footer{
        width: 75%;
    }
}       