@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #2D2D2D;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin: 0 auto;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
h2,h3{
    margin: 0;
}

/* メインビジュアル */
.fv{
    width: 90vw;
    object-fit: cover;
    margin: 5%;
}

/* ヘッダー */
header{
    display: flex;
    width: 90vw;
    align-items: center;
    margin: 2% 0;
}
.main-title{
    width: 120px;
    margin-right: 50px;
    font-size: 0;
    
}
    
.main-title img{
    /* display: flex; 画像とテキストの上下を揃える */
    object-fit: cover;

}
.menu-list{
display: flex;
}
.menu-list li{
    padding-right: 30px;
}


.inner{
    max-width: 1000px;
    padding:0 2% ;
    margin: 0 auto;
}
.container{
    display: flex;
    margin-bottom: 60px;
}
.section-img {
    width: 50%;
    flex-shrink: 0; /* 画像の大きさが縮小されずに表示される */
}
.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 6%;
}
.section-content-title{
    font-weight: 300;
    color: #2D2D2D;
}
.section-content-subtitle{
    font-size: 16px;
    margin: 5px 0 10px;
}
#work .container {
    flex-direction: row-reverse; /* 左右逆にする */
}

/* フッター */
.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}
.footer li img{
    width: 100px;
    display: flex;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
    .container{
        flex-direction: column;
    }
    #work .container {
        flex-direction: column; /* 左右逆にする */
    }
    .section-content{
        padding: 0;
    }
    .section-img{
        width: 100%;
    }
    .section-content-title{
        margin-top: 2%;
    }    
}